:root {
    --bg-color: #FDFDFD;
    --text-area-color: #F1F1F1;
    --text-box-color: #FDFDFD;
    --text-box-incorrect-color: #ffb9b3; 
    --text-color: #010101;
    --text-active-color: #010101;
    --text-correct-color: #dddddd;
    --text-incorrect-color: #ffb9b3;
}

* {
    transition: 0.1s;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family:"Open Sans";
}

#typingarea {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

a {
    padding: 0 0.2em;
    font-weight:normal;
    text-decoration: none;
    border-bottom: 0.1em solid transparent;
}

a:hover, .activemode {
    border-color: var(--text-color);
    text-decoration-thickness:.1em;
    text-underline-offset:.15em;
}

#main {
    background-color: var(--text-area-color);
    width:700px;
    padding:30px;
    margin-top:10px;
    border-radius:1em;
}

#text {
    display:block;
    padding-bottom:1em;
}

#text > span {
    font-size:x-large;
    line-height:1.5em;
    padding-right: 0.1em;
}

#enter {
    width:100%;
    padding:.75em 1em;
    border:none;
    border-radius:0.5em;
    font-size:larger;
}

.enter {
    background-color: var(--text-box-color);
}

#restart {
    background-color: var(--text-box-color);
    width:8%;
    margin-left:4px;
    border:none;
    border-radius: 0.5em;
    font-size:larger;
    font-weight:900;
}

.active {
    font-weight:bolder;
    color: var(--text-active-color);
}

.correct {
    color: var(--text-correct-color);
}

.incorrect {
    color: var(--text-incorrect-color);
}

.currentlyIncorrect {
    background-color: var(--text-box-incorrect-color);
}

#customisation {
    float:right;
}

#accentpicker {
    margin-left:40px;
    border:none;
}

#social {
    position:absolute;
    bottom:20px;
    left:50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    color: rgba(255,255,255,0.5);
    mix-blend-mode: difference;
}

.invisible {
    display:none;
}